body {
  margin: 0;
  font-family: sans-serif;
  text-align: center;
  color: #003c71;
}

h1 {
  background: #003c71;
  color: #fff;
  padding: 20px;
  margin: 0 0 60px 0;
  font-size: 40px;
  font-weight: normal;
  text-transform: capitalize;
}

button {
  display: block;
  width: 80%;
  margin: 10px auto 50px;
  padding: 40px;
  font-size: 30px;
  background: #0083C5;
  color: #fff;
  border: none;
}

.instruction {
  display: none;
}

.angle {
  color: #999;
  font-size: 30px;
  text-align: center;
}

.front {
  margin-bottom: 30px;
}
.front:before {
  content: "▲";
  display: block;
}

.up {
  display: inline-block;
  width: 40%;
}
.up:before {
  content: "◀︎";
}

.down {
  display: inline-block;
  width: 40%;
}
.down:after {
  content: "▶︎";
}

.own {
  margin-top: 30px;
}
.own:after {
  content: "▼";
  display: block;
}

.show {
  display: block;
}
